.e-control, .e-tab-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Microsoft JhengHei', Calibri !important;
}

.ki-fieldset, .ki-fieldset2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, 'Microsoft JhengHei', Calibri!important;
    padding: 4px;
    font-size: 12px;
}

.ki-fieldset input.e-input {
    line-height: unset !important;
    min-height: unset !important;
    padding: 2px 0 2px !important;
}

.ki-fieldset label {
    display: inline-block;
    font-size:12px;
    float: right;
    padding-top: 8px;
    font-weight: 700;
}


@font-face {
    font-family: "IconFonts";
    src: url(/Content/Fonts/IconFonts.ttf);
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 55px;
    position: relative;
}

.menu {
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 55px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.searchContent {
    display: inline-block;
    position: absolute;
    left: 60px;
}

.mainPageTitle {
    font-size: 18px;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.right-content {
    float: right;
    height: 55px;
    width: 150px;
}

.user-information {
    top: 15%;
    font-size: 12px;
    position: absolute;
}

.user-information span {
    float: left;
}

.user-information .username {
    font-size: 17px;
    line-height: 17px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.e-avatar.ki-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


[class^="sf-icon-"], [class*=" sf-icon-"], .ki-icons {
    font-family: IconFonts !important;
    speak: none;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.e-icons {
    line-height: 2;
}

.ki-icon-home::before {
    content: "\e700";
}

.ki-icon-billing::before {
    content: "\e702";
}

.ki-icon-message::before {
    content: "\e704";
}

.ki-icon-settings::before {
    content: "\e701";
}

.ki-icon-menu::before {
    content: "\e705";
}

.ki-icon-user::before {
    content: "\e706";
}

.ki-icon-back::before {
    content: "\e707";
}

.ki-icon-housing::before {
    content: "\e708";
}

.ki-icon-swimming-pool::before {
    content: "\e709";
}

.ki-icon-package::before {
    content: "\e70a";
}

.ki-icon-heartbeat::before {
    content: "\e70b";
}

.ki-icon-book::before {
    content: "\e70c";
}

.ki-icon-process::before {
    content: "\e70d";
}

.ki-icon-data-find::before {
    content: "\e70e";
}

.ki-icon-data-input::before {
    content: "\e70f";
}

.ki-icon-data-output::before {
    content: "\e710";
}


.flex-container {
    height: inherit;
    display: flex; /*inline-flex;*/
    flex-wrap: nowrap;
    /*background-color: #be6d6d;*/
}

.flex-item {
    /*flex-grow:0;
    flex-shrink:0;
    flex-basis:0;*/
    color: #fff;
    /*margin: 10px;*/
}


/* ki-box style ----*/
/* justify-content 主軸 如 flex-direction: column 主軸為 由上而下 */
/* align-content 交錯軸 如 flex-direction: column 交錯軸為 由左而右 */

.ki-view-container {
    height: calc( 100vh - 55px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    line-height: 36px;
}

.ki-box-box-wrapper {
}

.ki-box-caption {
    border: 1px solid #ccc;
    padding: 4px;
    background-color: #dcdcdc;
    border-radius: 8px 8px 0 0;
    font-size:14px;
}

.ki-box-body {
    border: 1px solid #ddd;
    padding: 8px;
}

.ki-box-body div.row > div {
    text-align: right;
}
/* ------------------------------- */
