

<div class="panel panel-tooltip phr-background-allergies" style="">
    <span class="panel-tooltiptext">藥物過敏<br/>藥物過敏<br/>過敏源</span>
    <div class="panel-heading panel-item  panel-tooltip" >
        <div class="pannel-caption">過敏了嗎?</div>
    </div>
    <div class="panel-body panel-item">
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-allergies {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgeuXQxd7iC_DBh0l_QT-ugTqc8zsBS3OLgA&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5;
    }

    .phr-background-allergies:hover {
        opacity: 1;
    }

   
</style>