

<div class="panel panel-tooltip phr-background-ediary" style="">
    <span class="panel-tooltiptext">健康記錄<br />追踪管理</span>
    <div class="panel-heading panel-item panel-tooltip" style="">
        <div class="pannel-caption">健康日記</div>
    </div>
    <div class="panel-body panel-item panel-tooltip" >
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-ediary {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS-qOzHyYWPmBvlKbBL-zjXqU7KVd02E8ciuA&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5
    }

    .phr-background-ediary:hover {
        opacity: 1;
    }

</style>