

<div class="panel panel-tooltip phr-background-medictions" style="">
    <span class="panel-tooltiptext">食用藥品<br />安全管控</span>
    <div class="panel-heading panel-item  panel-tooltip">
        <div class="pannel-caption">用藥管理</div>
    </div>
    <div class="panel-body panel-item  panel-tooltip">
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-medictions {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKF6UxRTZxYNahu7MIOk4ULxoLQ2v6GATdlw&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5
    }

    .phr-background-medictions:hover {
        opacity: 0.9;
    }
</style>