

<div class="panel panel-tooltip phr-background-problems" style="">
    <span class="panel-tooltiptext">就醫問題<br/>醫療招呼站</span>
    <div class="panel-heading panel-item  panel-tooltip" >
        <div class="pannel-caption">我該怎麼辦?</div>
    </div>
    <div class="panel-body panel-item">
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-problems {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTbsuZPS3ok2th-w4E2dpEvDNImccpu_gkkag&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5;
    }

    .phr-background-problems:hover {
        opacity: 1;
    }

   
</style>