

<div class="panel panel-tooltip phr-background-qualityoflife" style="">
    <span class="panel-tooltiptext">無病一"生"輕<br/>健康快活<br/>秘訣</span>
    <div class="panel-heading panel-item  panel-tooltip" >
        <div class="pannel-caption">美好人生</div>
    </div>
    <div class="panel-body panel-item">
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-qualityoflife {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQguUzzKWJ1RKq2M8_MWIfXPFV87usOdXpjDg&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5;
    }

    .phr-background-qualityoflife:hover {
        opacity: 1;
    }

   
</style>