

<div class="panel panel-tooltip phr-background-vitalsigns" style="">
    <span class="panel-tooltiptext">生理量測<br />數據分析</span>
    <div class="panel-heading panel-item  panel-tooltip">
        <div class="pannel-caption">生理軌跡</div>
    </div>
    <div class="panel-body panel-item  panel-tooltip">
        <div class="e-icons ki-icons" style="font-size:120px;height:100%"></div>
    </div>
</div>

<style type="text/css">
    .phr-background-vitalsigns {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTkrymZifZy_VY5o1WqYENNgwyBPZq8mzxERw&usqp=CAU);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        height: inherit;
        opacity: 0.5
    }

    .phr-background-vitalsigns:hover {
        opacity: 0.9;
    }
</style>