<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="IoTEntity" connectionString="metadata=res://*/Data.IoTModel.csdl|res://*/Data.IoTModel.ssdl|res://*/Data.IoTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1.34.129.176;initial catalog=HIOT;user id=sa;password=royaLflusH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ONELABEntities" connectionString="metadata=res://*/Data.OneLabModel.csdl|res://*/Data.OneLabModel.ssdl|res://*/Data.OneLabModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=150.117.126.82;initial catalog=ONELAB;persist security info=True;user id=sa;password=dbadmin@55370603;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.46" newVersion="18.1460.0.46" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>